@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.logoText {
  color: #6c63ff;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 12px;
}

.navOptions h6 {
  height: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.navOptions h6:hover {
  border-bottom: 3px solid #6c63ff;
}

.navButtons h6 {
  font-weight: 600;
  cursor: pointer;

  transition: all 0.1s ease-out;
}

.register {
  text-align: center;
  background-color: #6c63ff;
  height: 50px;
  border-radius: 40px;
  color: white;
  padding-top: 13px;
}

.signin {
  text-align: center;
  border: 2px solid #6c63ff;

  height: 50px;
  border-radius: 40px;
  color: black;
  padding-top: 13px;
  transition: all 200ms ease-out;
}

.signin:hover {
  color: white;
  background-color: #6c63ff;
}

.register:hover {
  border: 2px solid #6c63ff;
  color: black;
  background-color: white;
}

.navbar-nav a {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
  transition: all 100ms ease-out;
}

.line {
  width: 80px;
  height: 3px;
  background-color: #6c63ff;
}

.heroImage {
  background-image: url("./assets/images/heroImg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.featureBody {
  margin-top: 35px;
  text-align: center;
}

.featureBody .line {
  margin-top: 25px;
  margin: auto;
}

.feature {
  width: 200px;
  height: 150px;
  margin-bottom: 50px;
}

.feature h4 {
  font-weight: 600;
  font-size: large;
}

.section-3 {
  margin-top: 50px;
}

.headerBodyButton h5 {
  font-weight: 800;
  color: #6c63ff;
  cursor: pointer;
}

.footerBg {
  background-color: #6c63ff;
  height: 400px;
}
.end {
  margin: 0;
  text-align: center;
  background-color: #6c63ff;
  color: white;
}

.content-wrapper {
  height: 100%;
  color: white;
}

.content-wrapper h2 {
  font-weight: 600;
}

.section4 {
  background-color: white;
  color: #6c63ff;
  border-radius: 10px;
}

.section4 h5 {
  cursor: pointer;
}

.section3 h5 {
  cursor: pointer;
}

.section2 h5 {
  cursor: pointer;
}
